body {
  background-color: #9DBEBB;
  
}   

h1 {
    font-family: 'Roboto Mono', monospace;
    font-size: 48px;
    max-width: 500px;
    color: black;
    padding-left: 20px;
    padding-right: 20px; 
    


  }
h2 {
    font-family: 'Roboto Mono', monospace;
    font-weight: lighter;
    font-size: 24px;
    max-width: 600px;
    color: black;
    padding-left: 20px;
    padding-right: 20px; 
  

}

.page {
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 0;

    
     
}

.column {
    max-width: 100%;
    max-height: 100%;
    padding-top: 30px;
    padding-left: 20px;
    background-color: #BE0909;
    z-index: 0;
    
  }
  

.duck {
    z-index: 1;
    position: relative;
    left: 100px;
    top: -120px;   
}

.duck-2 {
  position: relative;
  left:100px;
  top:-100px;
}

#btn {
  background-color: #9DBEBB;
  color: black;
  border-radius: 6px;
  border:0px;
  padding: 5px;

}

#btn:hover {
  background-color: white;
}

#fullname, #dob, #colors, #wishes {
  background-color: #9DBEBB;
  border: 0px;
  border-radius: 6px;
  outline: none;
  padding: 10px;
  
}


#fullname:focus {
  background-color: white;
}
#dob:focus {
  background-color: white;
}
#colors:focus {
  background-color: white;
}
#wishes:focus {
  background-color: white;
}


